* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #dbf1f0, #e9e4ec);
  background-size: 400% 400%;
  animation: gradient 5s ease-in infinite;
  color:#e8d3f3;
  margin: 0;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



nav {
  margin: 0 auto;
  max-width: 960px;
  background-color: #ffffff;
  border: ridge 1px #000000;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 0;
  width: 33.3333%;
 }
 

.main {
  margin: auto auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

section {
  padding: 20px 40px;
  background-color: #ffffff;
  margin: 10px 0;
  border: ridge 3px #000000;
  border-radius: 10px;
}


.header {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin: 0;
  padding: 5px;
  /* text-align: center;*/
  letter-spacing: 3px;
}

a:hover, a:visited:hover {
    color: #e7dfeb;
}
a:visited {
    color: rgb(171, 231, 211);
}
a {
    text-decoration: none;
    color: rgb(112, 114, 111);
}

nav a:hover, a:visited:hover {
  color: #d09eeb;
}
nav a, nav a:visited {
  color: #14051b;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

ol {
    padding-left: 20px;
}

h2 {
    margin: 0;
    text-align: center;
}

table {
  border: 3px double #000000;
  border-collapse: collapse;
  margin: 10px auto;
}
td, th {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}
tr:nth-child(odd){
  background-color: #FEE;
}
tr:nth-child(even){
  background-color: rgb(248, 246, 226);
}

form {
  line-height: 1.7;
  text-align: center;
}

input, select, textarea {
  border: 1px solid #000000;
  font-family: 'Noto Sans', sans-serif;
  padding: 3px;
}
input, textarea {
  padding-left: 5px;
}
input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 3px 20px;
}
input[type="submit"]:hover {
  background-color: #ffffff;
  border-color: #000000;
}


